<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScreenShotTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ScreenShotTool.Properties.Settings>
            <setting name="RegisterHotkeys" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hkCaptureWindowCtrl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkCaptureWindowAlt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkCaptureWindowShift" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkCaptureWindowWin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkCaptureWindowKey" serializeAs="String">
                <value>PrintScreen</value>
            </setting>
            <setting name="hkCaptureRegionKey" serializeAs="String">
                <value />
            </setting>
            <setting name="hkCaptureRegionCtrl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkCaptureRegionAlt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkCaptureRegionShift" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkCaptureRegionWin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkBrowseFolderKey" serializeAs="String">
                <value>PrintScreen</value>
            </setting>
            <setting name="hkBrowseFolderCtrl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hkBrowseFolderAlt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkBrowseFolderShift" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkBrowseFolderWin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Filename" serializeAs="String">
                <value>$w $c</value>
            </setting>
            <setting name="Foldername" serializeAs="String">
                <value>.\$w</value>
            </setting>
            <setting name="TrimTop" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="TrimBottom" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TrimLeft" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TrimRight" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="trimChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileExtension" serializeAs="String">
                <value>.jpg</value>
            </setting>
            <setting name="AlternateTitle" serializeAs="String">
                <value>Capture</value>
            </setting>
            <setting name="TitleMaxLength" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="SplitTitleString" serializeAs="String">
                <value />
            </setting>
            <setting name="SplitTitleIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="JpegQuality" serializeAs="String">
                <value>95</value>
            </setting>
            <setting name="StartHidden" serializeAs="String">
                <value>False</value>
            </setting>
        </ScreenShotTool.Properties.Settings>
    </userSettings>
</configuration>